/*
This document is dedicated to style the index.html which is a web pplication game.
*/

/*
This style shows the whole design of the page.
*/
.container{
	width: 900px;
	background-color: #FFCC66;
	margin: auto;
	border-style: inset;
	border-width: 3px;
	border-color: red;
	position: relative;
	height: 600px;
}

/*
This shows the style of head part of the web page.
*/
.header{
	background-color: #FF9933;
	height: 50px;
	text-align: center;
	font-size: 40px;
	padding-top: 0px;
}

/*
This is for the left part of the page.
*/
.lefter{
	background-color:#99CC00;
	position: absolute;
	left: 0px;

	height: 450px;
	width: 130px;
	font-size: 50px;
	text-align: center;

}

/*
This is for the buttons of the page.
*/
.level{
	display: block;
	width: 110px;
	height: 50px;
	margin: 10px auto;
	font-size: 30px;
}

/*
This styles the center of the page.
*/
.center{
	background-color: #F5E58E;
	position: absolute;
	left: 130px;
	height: 450px;
	width: 700px;
}

/*
This is for the game board in the center of the page.
*/
#game{
	width: 620px;
	height: 420px;
	background-color:#C7F04D;
	position: absolute;
	left: 10px;
	top: 10px;
}

/*
This is for the buttons of the page.
*/
#button-container{
	width:545px;
	margin: 20px auto;
	background-color: #ffaaaa;
}

#button-plate{
	width:545px;
	margin: 20px auto;
	margin-left: 3px;
}
/*
This is for the game buttons of the page.
*/
.guess_button{
	width: 50px;
	height: 50px;
}


/*
This is for the display of the result of the game.
*/
#monitor{
	width: 500px;
	height: 60px;
	margin: 30px auto;
}

/*
This is for the display of the head in the game.
*/
#display0{
	width: 590px;
	height: 50px;
	background-color: #9ADE2C;
	margin: 10px auto;
	font-size: 35px;
	text-align: center;
}

/*
This is for the display of the result of the game.
*/
#display1{
	font-size: 20px;
	text-align: center;
}

/*
This is for the display of the result of the game.
*/
#display2{
	font-size: 30px;
	text-align: center;
}

/*
This is for the display of the result of the game.
*/
#display3{
	font-size: 30px;
	text-align: center;
}

/*
This styles the 'Start Over' button in the game page.
*/
#start_button{
	text-align: center;
	margin: 10px auto;
	font-size: 30px;
	display: block;
}

/*
This is for the right part of the page.
*/
.righter{
	background-color: #F2C718;
	width: 130px;
	height: 450px;
	position: absolute;
	right: 0px;
	text-align: center;
	font-size: 30px;
}

#score-head{
	background-color: #EB7E36;
}
/*
This is for the bottom part of the page.
*/
.footer{
	background-color: #49C91E;
	height: 110px;
	width: 900px;
	position: absolute;
	bottom: 0;
	font-family:Arial,Helvetica,sans-serif;
}

/*
This is for the subpart of the bottom of page.
*/
.subfooter{
	float:left;
	width:439px;
	margin: 5px;
	font-size: 17px;
}

.subfooter span{
	font-weight: bold;
}

